<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="spa-shell">
    <script id="spa-shell" type="text/template">
        <div class="spa-shell-head">
            <div class="spa-shell-head-logo"></div>
            <div class="spa-shell-head-acct"></div>
            <div class="spa-shell-head-search"></div>
        </div>
        <div class="spa-shell-main">
            <div class="spa-shell-main-nav"></div>
            <div class="spa-shell-main-content"></div>
        </div>
        <div class="spa-shell-foot"></div>
        <div class="spa-shell-modal"></div>
    </script>
</div>

</body>

</html>

