<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="spa-chat">
    <script  id="spa-chat" type="text/template">
        <div class="spa-chat">
            <div class="spa-chat-head">
                <div class="spa-chat-head-toggle">*</div>
                <div class="spa-chat-head-title">Chat</div>
            </div>
            <div class="spa-chat-closer">x</div>
            <div class="spa-chat-sizer">
                <div class="spa-chat-msgs"></div>
                <div class="spa-chat-box">
                    <input type="text"/>
                    <div>send</div>
                </div>
            </div>
        </div>
    </script>
</div>

</body>

</html>